@media screen and (max-width: 550px) {
  body {
    background-color: var(--backgroundGrey);
  }
  .mobile {
    display: block;
  }
  .mainContainer {
    border-radius: 0px;
    height: 100vh;
  }
}
