@media screen and (max-width: 550px) {
  body {
    background-color: var(--backgroundGrey);
  }
  .mainContainer {
    border-radius: 0px;
    height: 100vh;
  }
  .topSection {
    height: 50%;
  }
  .bottomSection {
    height: 50%;
  }
}
